root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning

[*.{csproj,props,targets,xaml,xml}]
indent_style = space
indent_size = 2

[*.{html,js,json,md}]
end_of_line = lf
indent_style = space
indent_size = 2
