---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "ExcalidrawZ"
  : "ExcalidrawZ - excalidraw client for mac";
---

<!doctype html>
<html
  lang="en"
  style=" background-size: 40px 40px;
      background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
      <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Excalidraw app for mac. Powered by pure SwiftUI."
      canonical={canonicalURL}
      twitter={{
        creator: "@Chocoford_",
        site: "@Chocoford_",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: 'ExcalidrawZ - Keep your excalidraws locally and safely.',
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "ExcalidrawZ Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
