<div class="my-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Motivation</h2>
  <p class="text-lg mt-4 text-slate-600">
    <a
      href="https://github.com/excalidraw/excalidraw"
      class="text-blue-500 underline">Excalidraw</a
    > is a very useful web app, but the lack of file management can be troublesome
    and unsettling. We often need to manually save and maintain multiple different
    Excalidraw files. Therefore, ExcalidrawZ has wrapped it up to automatically save
    edited files for users and added file grouping functionality.
  </p>
</div>
